<h2 style="text-align: center">Available Courses</h2>
<table class="table table-bordered table-striped text-center" style="width:50%;margin: auto;">
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    <tr *ngFor="let course of courses; let even = even; let odd = odd" [class.selected]="course === selectedCourse" [ngClass]="{ odd: odd, even: even }">
      <td>{{course.title}}</td>
      <td>{{course.description}}</td>
      <td> <a routerLink="/detail/{{course.id}}" ><img src="assets/img/eye.svg" alt="View"></a>
      <td (click)="onSelectToEdit(course)"><img src="assets/img/brush.svg" alt="Edit" ></td>
      <td (click)="delete(course)"><img src="assets/img/trash.svg" alt="Delete"></td>
      </tr>
  </table>
<app-course-edit [course]="courseToEdit" style="text-align:center;"></app-course-edit>
<!-- <app-course-detail [course]="selectedCourse" style="text-align:center;"></app-course-detail> -->
<div style="width: 50%; margin: 0 auto">
  <div class="form-group">
    <label>Title:    </label> 
    <input class="form-control" [(ngModel)]="courseToAdd.title" placeholder="title"/>
    <label>Description: </label>
    <input class="form-control" [(ngModel)]="courseToAdd.description" placeholder="description"/>
  </div>
  <button class="btn btn-primary" (click)="add(courseToAdd)">Submit</button>
</div>