<h2 style="text-align: center">My Users</h2>
<table class="table table-bordered table-striped text-center" style="width:50%;margin: auto;">
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Status</th>
    <th scope="col">Block</th>
    <tr *ngFor="let user of users; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.isBlocked}}</td>
      <td (click)="block(user)"><img src="assets/img/ban.svg" alt="Block"></td>
    </tr>
  </table>